extends _component/layout/page
block cool-config
  -
    var myTitleForGoogleSearch = 'My awesome start in webdevelpment CV';
    var myDescriptionForGoogleSearch = 'this CV is made entirely using HTML5 and CSS3';
block awesome-content
  h1 this is it